/* * * * * * * * * * * * * * * * * * * * * * * *
*
*   App Stylesheet                      V0.1
*   
*   Andrew Tuček                     1.2.2022
*
* * * * * * * * * * * * * * * * * * * * * * *  */
.App {
  width: 100vw;
  height: 95vh;
  max-width: 100%;
  max-height: fit-content;
  // container
  &-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  //input
  &-input {
    flex: 0 0 50%;
    #input {
      width: 90%;
      height: 90%;
      position: relative;
      left: 5%;
      top: 5%;
      text-align: center;
      input,
      textarea {
        padding: 0.5rem;
        width: 100%;
        margin: 0.25rem 0;
        border-radius: 0.25rem;
        border: 2px solid $gray-light3;
      }
      input:focus,
      textarea:focus {
        border: 2px solid $blue-light;
      }
      textarea {
        resize: none;
        height: 150px;
        font-family: $ff-primary;
      }
      input[type="submit"] {
        cursor: pointer;
        border: none;
      }
    }
  }
  //help
  &-help {
    flex: 0 0 50%;
  }
  //output
  &-output {
    flex: 0 0 50%;
    #output {
      height: 90%;
      width: 90%;
      position: relative;
      top: 5%;
      left: 5%;
      background-color: $gray-light3;
      border-radius: 0.25rem;
      overflow-y: auto;
      overflow-x: hidden;
      li {
        border-radius: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: $gray-light4;
        .details {
          display: none;
        }

        .dropdown:checked ~ .details {
          display: block;
          flex-basis: 98%;
          margin-left: 1%;
          background-color: $gray-light2;
          border-radius: 0.25rem;
        }

        .remove {
          background-color: $red-light;
        }
      }
    }
  }
  // column style
  &-title {
    width: 100%;
    height: 2.5rem;
    background-color: $gray-light;
    h4 {
      text-align: center;
      color: $white;
      margin: 0;
    }
  }
  &-body {
    height: calc(100% - 2.5rem);
    background-color: $gray-light5;
    p {
      margin: 0;
    }
  }
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .App-center {
    flex-direction: row;
  }
}

@media screen and (min-width: 1170px) {
  .App-center {
    width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    justify-content: space-evenly;
    .App-input,
    .App-output {
      flex: 0 0 45%;
      box-shadow: $light-shadow;
      #input {
        input,
        textarea {
          max-width: 500px;
        }
      }
    }
  }
}
