@charset "UTF-8";
/* * * * * * * * * * * * * * * * * * * * * * * *
*
*   Todo Stylesheet                      V0.1
*   
*   Andrew Tuček                     1.2.2022
*
* * * * * * * * * * * * * * * * * * * * * * *  */
*::before,
*,
*::after {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 1.3;
  background: #f8f8f8;
}

img {
  width: 100%;
  display: block;
}

li > a {
  all: inherit;
}

li {
  list-style: none;
  text-indent: 0.5rem;
}

a:visited,
a:active,
a {
  text-decoration: none;
  color: #007aff;
}

a:hover {
  text-decoration: underline;
}

a,
p,
h2,
h3,
h4,
li,
ol {
  font-weight: 300;
  padding: 0.25rem 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  background: #161618;
  color: #30d158;
  font-family: monospace;
  font-weight: 300;
  padding: 0.25rem;
  display: block;
  border-radius: 0.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 31pt;
  }

  h2 {
    font-size: 25pt;
  }

  h3 {
    font-size: 19pt;
  }

  h4 {
    font-size: 17pt;
  }

  p {
    font-size: 14pt;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 32pt;
  }

  h2 {
    font-size: 26pt;
  }

  h3 {
    font-size: 20pt;
  }

  h4 {
    font-size: 18pt;
  }

  p {
    font-size: 15pt;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 33pt;
  }

  h2 {
    font-size: 27pt;
  }

  h3 {
    font-size: 21pt;
  }

  h4 {
    font-size: 19pt;
  }

  p {
    font-size: 16pt;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 34pt;
  }

  h2 {
    font-size: 28pt;
  }

  h3 {
    font-size: 22pt;
  }

  h4 {
    font-size: 20pt;
  }

  p {
    font-size: 17pt;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 36pt;
  }

  h2 {
    font-size: 30pt;
  }

  h3 {
    font-size: 24pt;
  }

  h4 {
    font-size: 22pt;
  }

  p {
    font-size: 19pt;
  }
}
a,
p,
h1,
h2,
h3,
h4 {
  margin: 0.7rem 0;
}

.clearfix::before,
.clearfix,
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  color: #f8f8f8;
  background: #007aff;
  box-shadow: 0 5px 15px #aeaeb2;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: none;
  margin: 0.25rem;
}

.btn:hover {
  background: #0a84ff;
  text-decoration: none;
}

.badge {
  display: inline-block;
  background: #161618;
  color: #f8f8f8;
  padding: 0.125rem 0.5rem;
  border-radius: 0.5rem;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 768px;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
}
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5 {
  font-weight: 300;
}
.section-title h1 span,
.section-title h2 span,
.section-title h3 span,
.section-title h4 span,
.section-title h5 span {
  font-weight: 600;
}

.underline {
  width: 5rem;
  height: 0.5rem;
  background: #007aff;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem 1rem;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .section-center {
    width: 85vw;
    max-width: 992px;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 90vw;
    max-width: 1170px;
  }
}
@media screen and (min-width: 1170px) {
  .section-center {
    width: 95vw;
    max-width: 1500px;
  }
}
@media screen and (min-width: 1500px) {
  .section-center {
    width: 95vw;
    max-width: 2000px;
  }
}
.dark {
  background: #161618;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: #f8f8f8;
}
.dark p,
.dark li,
.dark ol {
  color: #636366;
}
.dark code {
  background: #000;
}
.dark a {
  color: #0a84ff;
}
.dark .underline {
  background: #0a84ff;
}
.dark .badge {
  background: #2c2c2e;
}
.dark .btn {
  box-shadow: 0 5px 15px #1c1c1e;
  background: #0a84ff;
  color: #f8f8f8;
}
.dark .btn:hover {
  background: #007aff;
}

/* * * * * * * * * * * * * * * * * * * * * * * *
*
*   App Stylesheet                      V0.1
*   
*   Andrew Tuček                     1.2.2022
*
* * * * * * * * * * * * * * * * * * * * * * *  */
.App {
  width: 100vw;
  height: 95vh;
  max-width: 100%;
  max-height: fit-content;
}
.App-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.App-input {
  flex: 0 0 50%;
}
.App-input #input {
  width: 90%;
  height: 90%;
  position: relative;
  left: 5%;
  top: 5%;
  text-align: center;
}
.App-input #input input,
.App-input #input textarea {
  padding: 0.5rem;
  width: 100%;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  border: 2px solid #c7c7cc;
}
.App-input #input input:focus,
.App-input #input textarea:focus {
  border: 2px solid #007aff;
}
.App-input #input textarea {
  resize: none;
  height: 150px;
  font-family: sans-serif;
}
.App-input #input input[type=submit] {
  cursor: pointer;
  border: none;
}
.App-help {
  flex: 0 0 50%;
}
.App-output {
  flex: 0 0 50%;
}
.App-output #output {
  height: 90%;
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  background-color: #c7c7cc;
  border-radius: 0.25rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.App-output #output li {
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d1d1d6;
}
.App-output #output li .details {
  display: none;
}
.App-output #output li .dropdown:checked ~ .details {
  display: block;
  flex-basis: 98%;
  margin-left: 1%;
  background-color: #aeaeb2;
  border-radius: 0.25rem;
}
.App-output #output li .remove {
  background-color: #ff3b30;
}
.App-title {
  width: 100%;
  height: 2.5rem;
  background-color: #8e8e93;
}
.App-title h4 {
  text-align: center;
  color: #f8f8f8;
  margin: 0;
}
.App-body {
  height: calc(100% - 2.5rem);
  background-color: #e5e5ea;
}
.App-body p {
  margin: 0;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .App-center {
    flex-direction: row;
  }
}
@media screen and (min-width: 1170px) {
  .App-center {
    width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    justify-content: space-evenly;
  }
  .App-center .App-input,
.App-center .App-output {
    flex: 0 0 45%;
    box-shadow: 0 5px 15px #aeaeb2;
  }
  .App-center .App-input #input input,
.App-center .App-input #input textarea,
.App-center .App-output #input input,
.App-center .App-output #input textarea {
    max-width: 500px;
  }
}
/* * * * * * * * * * * * * * * * * * * * * * * *
*
*   Taskbar stylesheet                   V0.1
*   
*   Andrew Tuček                     7.3.2022
*
* * * * * * * * * * * * * * * * * * * * * * *  */
.taskbar {
  width: 100vw;
  max-width: 100%;
  height: 5vh;
  background-color: #c7c7cc;
  box-shadow: 0 5px 15px #aeaeb2;
}
.taskbar-center {
  width: 95%;
  height: 95%;
  position: relative;
  top: 2.5%;
  left: 2.5%;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskbar-center .apps {
  display: flex;
  flex: 0 0 80%;
  background-color: #8e8e93;
}
.taskbar-center .apps-app {
  cursor: pointer;
  min-width: 100px;
  background-color: #aeaeb2;
  margin-right: 1%;
  text-align: center;
  user-select: none;
}
.taskbar-center .apps-app:hover {
  background-color: #c7c7cc;
}
.taskbar-center .time {
  flex: 0 0 20%;
  text-align: center;
}
